[Unit]
Description=Gunicorn instance to serve frizzapp
After=network.target

[Service]
User=frizzwizceo
Group=www-data
WorkingDirectory=/var/www/frizz/
Environment="PATH=/var/www/frizz/venv/bin/"
ExecStart=/usr/local/bin/gunicorn --workers 3 --bind 127.0.0.1:8000 wsgi:app --access-logfile '-' --error-logfile '-'

[Install]
WantedBy=multi-user.target
